body{
  width: 100vw;
  overflow-x: hidden;
}

.container{
  width: 100vw;
  height: 100%;
}

.container header{
  width: 100%;
  height: 15vh;
  
}

.container header nav{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 150px;
  justify-content: space-between;
  align-items: center;
}

.container header nav .logo-section .logo{
  background: url(./imagenes/logo.png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.container header nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

.container header nav ul *{
  color: #000;
  text-decoration: none;
}

/* Inicio */

.inicio{
  width: 100%;
  height: 100%;
}

/* Inicio 1 */

.inicio .inicio-1{
  width: 100%;
  height: 80vh;
  background: url('./imagenes/inicio-fondo.jpeg');
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 120px;
}

.inicio .inicio-1 .background{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.inicio .inicio-1 .information{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  position: relative;
  z-index: 3;
  align-items: flex-start;
}

.inicio .inicio-1 .information h1{
  font-size: 8rem;
  display: flex;
  transform: translateX(-3px);
  display: inline-block;
}

.inicio .inicio-1 .information h3 {
  font-size: 3rem;
}

.inicio .inicio-1 .information .carrusel-vertical{
  position: relative;
  width: 100%;
  height: 50%;
}

.inicio .inicio-1 .information .carrusel-vertical .texto-visible{
  float: left;
  overflow: hidden;
  height: 30px;
}

.inicio .inicio-1 .information .carrusel-vertical .texto-visible{
  overflow: hidden;
  height: 30px;
  width: 100%;
}

.inicio .inicio-1 .information .carrusel-vertical ul{
  list-style: none;
  position: relative;
  font-size: 2rem;
  animation: animacion-slider 20s ease-in-out infinite;

}

@keyframes animacion-slider {
  0%, 98%, 100%{
    transform: translateY(0);
  }

  4.3%, 8.6%, 90.3%, 94.6%{
    transform: translateY(-40px);
  }

  12.9%, 17.2%, 81.7%, 86%{
    transform: translateY(-80px);
  }

  21.5%, 25.8%, 73.1%, 77.4%{
    transform: translateY(-120px);
  }

  30.1%, 34.4%, 64.5%, 68.8%{
    transform: translateY(-160px);
  }

  38.7%, 43%, 55.9%, 60.2%{
    transform: translateY(-200px);
  }

  47.3%, 51.6%{
    transform: translateY(-235px);
  }
  
}

.inicio .inicio-1 .information a{
  display: inline-block;
  padding: 10px 20px;
  border: solid 2px #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Inicio 2 */

.inicio-2{
  padding: 120px;
  height: 100%;
  text-align: center;
}

.inicio-2 h1{
  font-size: 3rem;
  margin-bottom: 40px;
}

.inicio-2 .problematicas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.inicio-2 .problematicas div{
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  border: solid 2px #ddd;
  border-radius: 10px;
  padding: 40px;
}

.inicio-2 .problematicas .problematica-1, .inicio-2 .problematicas .problematica-2{
  box-shadow:
  1.7px 4.9px 3.9px -6px rgba(0, 0, 0, 0.024),
  4.6px 13.6px 10.9px -6px rgba(0, 0, 0, 0.035),
  11.2px 32.9px 26.2px -6px rgba(0, 0, 0, 0.046),
  37px 109px 87px -6px rgba(0, 0, 0, 0.07)
;
}

.inicio-2 .problematicas .header, .inicio-2 .problematicas .main{
  flex-direction: row;
  border: none;
  padding: 0;
}

/* Inicio 3  */

.inicio-3{
  width: 100%;
  height: 80vh;
  background: url(./imagenes/inicio-3.jpeg);
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 120px;

}

.inicio .inicio-3 .background{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.inicio .inicio-3 .information{
  color: #fff;
  position: relative;
  z-index: 3;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.inicio .inicio-3 .information h1{
  width: 70%;
  font-size: 6rem;

}

.inicio .inicio-3 .information h1 span{
  font-size: 3rem;
}

.inicio .inicio-3 .information p{
  width: 70%;
  text-align: justify;
}

/* Inicio 4  */

.inicio .inicio-4{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #222;
  color: #fff;

}

.inicio .inicio-4 .information{
  width: 100%;
  padding: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: grid;
  position: relative;
}



.inicio .inicio-4 .information h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 4rem;
}

.inicio .inicio-4 .information .propuestas-section {
  width: 100%;
  display: grid;
  grid-template-areas: 
    "area1 area2 area3 area3"
    "area4 area5 area3 area3"
    "area6 area6 area7 area8"
    "area6 area6 area9 area10"
    "area11 area12 area13 area13"
    "area14 area14 area14 area14";
  gap: 30px;
  height: 150vh; /* Asegúrate de que esto sea apropiado */
}

.inicio .inicio-4 .information .propuestas {
  border: solid 1px #aaaaaa;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
}

.inicio .inicio-4 .information .propuestas .show-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

/* Asegúrate de que el contenedor padre tenga position: relative */

.inicio .inicio-4 .information .propuestas::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 15px;
}

/* Cambia el transform según la posición */
.inicio .inicio-4 .information .propuestas:nth-child(odd)::before {
  transform: translateX(-100%);
}

.inicio .inicio-4 .information .propuestas:nth-child(even)::before {
  transform: translateX(100%);
}

/* Aplicar las áreas de grid directamente en los elementos propuestos */
.inicio .inicio-4 .information .propuestas:nth-child(1) {
  grid-area: area1; /* Asignando el área */
}

.inicio .inicio-4 .information .propuestas:nth-child(2) {
  grid-area: area2; /* Asignando el área */
}

.inicio .inicio-4 .information .propuestas:nth-child(3) {
  grid-area: area3; /* Asignando el área */
}

.inicio .inicio-4 .information .propuestas:nth-child(4) {
  grid-area: area4; /* Asignando el área */
}

.inicio .inicio-4 .information .propuestas:nth-child(5) {
  grid-area: area5; /* Asignando el área */
}

.inicio .inicio-4 .information .propuestas:nth-child(6) {
  grid-area: area6; /* Asignando el área */
}

.inicio .inicio-4 .information .propuestas:nth-child(7) {
  grid-area: area7; /* Asignando el área * /* Rosa a amarillo */
}

.inicio .inicio-4 .information .propuestas:nth-child(8) {
  grid-area: area8; /* Asignando el área */ /* Rosa suave a durazno */
}

.inicio .inicio-4 .information .propuestas:nth-child(9) {
  grid-area: area9; /* Asignando el área */ /* Verde a aqua */
}

.inicio .inicio-4 .information .propuestas:nth-child(10) {
  grid-area: area10; /* Asignando el área */ /* Amarillo a naranja */
  font-size: 0.7rem;
}

.inicio .inicio-4 .information .propuestas:nth-child(11) {
  grid-area: area11; /* Asignando el área */ /* Morado a rosa */
}

.inicio .inicio-4 .information .propuestas:nth-child(12) {
  grid-area: area12; /* Asignando el área */ /* Beige a coral */
}

.inicio .inicio-4 .information .propuestas:nth-child(13) {
  grid-area: area13; /* Asignando el área */ /* Aqua a azul */
}

.inicio .inicio-4 .information .propuestas:nth-child(14) {
  grid-area: area14; /* Asignando el área */

}


.inicio .inicio-4 .information .propuestas:nth-child(1)::before {
  grid-area: area1; /* Asignando el área */
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.inicio .inicio-4 .information .propuestas:nth-child(2)::before {
  grid-area: area2; /* Asignando el área */
  background: linear-gradient(135deg, #43cea2, #185a9d);
}

.inicio .inicio-4 .information .propuestas:nth-child(3)::before {
  grid-area: area3; /* Asignando el área */
  background: linear-gradient(135deg, #f7ff00, #db36a4);
}

.inicio .inicio-4 .information .propuestas:nth-child(4)::before {
  grid-area: area4; /* Asignando el área */
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
}

.inicio .inicio-4 .information .propuestas:nth-child(5)::before {
  grid-area: area5; /* Asignando el área */
  background: linear-gradient(135deg, #f953c6, #b91d73);
}

.inicio .inicio-4 .information .propuestas:nth-child(6)::before {
  grid-area: area6; /* Asignando el área */
  background: linear-gradient(45deg, #00c6ff, #0072ff);
}

.inicio .inicio-4 .information .propuestas:nth-child(7)::before {
  grid-area: area7; /* Asignando el área */
  background: linear-gradient(45deg, #ff005c, #ffdb00); /* Rosa a amarillo */
}

.inicio .inicio-4 .information .propuestas:nth-child(8)::before {
  grid-area: area8; /* Asignando el área */
  background: linear-gradient(135deg, #ffafbd, #ffc3a0); /* Rosa suave a durazno */
}

.inicio .inicio-4 .information .propuestas:nth-child(9)::before {
  grid-area: area9; /* Asignando el área */
  background: linear-gradient(135deg, #43e97b, #38f9d7); /* Verde a aqua */
}

.inicio .inicio-4 .information .propuestas:nth-child(10)::before {
  grid-area: area10; /* Asignando el área */
  background: linear-gradient(135deg, #f6d365, #fda085); /* Amarillo a naranja */
}

.inicio .inicio-4 .information .propuestas:nth-child(11)::before {
  grid-area: area11; /* Asignando el área */
  background: linear-gradient(135deg, #a18cd1, #fbc2eb); /* Morado a rosa */
}

.inicio .inicio-4 .information .propuestas:nth-child(12)::before {
  grid-area: area12; /* Asignando el área */
  background: linear-gradient(135deg, #ffecd2, #fcb69f); /* Beige a coral */
}

.inicio .inicio-4 .information .propuestas:nth-child(13)::before {
  grid-area: area13; /* Asignando el área */
  background: linear-gradient(135deg, #00d2ff, #3a7bd5); /* Aqua a azul */
}

.inicio .inicio-4 .information .propuestas:nth-child(14)::before {
  grid-area: area14; /* Asignando el área */
  background: linear-gradient(135deg, #11998e, #38ef7d);

}

.inicio .inicio-4 .information .propuestas .show-section h3{
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal-section{
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1000; /* Asegura que esté encima de otros elementos */ /* Fondo del modal */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 100%; /* Ajusta el ancho según necesites */
  overflow: visible;
  height: 100vh;
}

.modal-section .background{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-section .information{
  width: 70%;
  line-height: 30px;

}

.modal-section .information h2{
  display: block;
  font-size: 3.5rem;
  text-align: center;
  line-height:60px;
}

.modal-section .information h3{
  text-align: center;

}

.modal-section .information section{
  width: 100%;
  padding: 30px;
  height: 100vh;
}

.modal-section .information section ul{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.modal-section button{
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 10px 30px;
  cursor: pointer;
  z-index: 1000;
  font-size: 2rem;
  border: solid 2px #ddd;
  border-radius: 10px;
  background: transparent;
  color: #fff;
}


/* Sobre Nosotros */

.sobre-nosotros{
  width: 100%;
  height: 100%;
}

.sobre-nosotros .sobre-nosotros-1{
  width: 100%;
  height: 100vh;
  padding: 10px 60px;
}

.sobre-nosotros .sobre-nosotros-1 .display{
  width: 100%;
  height: 100%;
}

.sobre-nosotros .sobre-nosotros-1 .logo-atractivo{
  background: url('./imagenes/logo-atractivo.png');
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 120px;
  position: relative;
}

.sobre-nosotros .sobre-nosotros-1 .display header{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sobre-nosotros .sobre-nosotros-1 .display main{
  border: solid 2px #ddd;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sobre-nosotros .sobre-nosotros-1 .display main section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sobre-nosotros .sobre-nosotros-1 .display main section .title{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sobre-nosotros .sobre-nosotros-1 .display main section .title h3{
  font-size: 2rem;
}

.sobre-nosotros .sobre-nosotros-1 .display main section .second-information{
  text-align: justify;
}

.sobre-nosotros .sobre-nosotros-1 .display main section:nth-child(2){
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.sobre-nosotros .sobre-nosotros-1 .display main section:nth-child(2) span{
  display: flex;
  gap: 10px;
}

.sobre-nosotros .sobre-nosotros-1 .display main section:nth-child(2) span i{
  color: #0072ff;
}

/* Contacto  */

.contacto{
  width: 100%;
  height: 100%;
}

.contacto .contacto-1{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.contacto .contacto-1 .information{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 30px;
}


.contacto .contacto-1 .information .usuario{
  padding: 20px;
  border-radius: 15px;
  border: solid 2px #ddd;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  box-shadow:
  0px 0px 3.2px -15px rgba(0, 0, 0, 0.024),
  0px 0px 8.9px -15px rgba(0, 0, 0, 0.035),
  0px 0px 21.4px -15px rgba(0, 0, 0, 0.046),
  0px 0px 71px -15px rgba(0, 0, 0, 0.07)
  ;
}

.contacto .contacto-1 .input-section{
  padding: 10px;
  border-radius: 15px;
  border: solid 2px #ddd ;
  width: 200px;
  display: flex;
  gap: 10px;
}

.contacto .contacto-1 .input-section input{
  border: none;
  outline: none;
}

.contacto .contacto-1 .information .usuario .header{
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}


.contacto .contacto-1 .information .usuario .header .user-picture{
  padding: 60px;
  border-radius: 50%;
  background-color: #aaa;
}

.contacto .contacto-1 .information .usuario .header h3{
  font-size: 2rem;
}

.contacto .contacto-1 .information .usuario .header h4{
  color: #666;
}

.contacto .contacto-1 .information .usuario .main{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  gap: 10px;
}

.contacto .contacto-1 .information .usuario .main ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

.contacto .contacto-1 .information .usuario .main .data{
  flex-direction: column;
  gap: 10px;
}

.contacto .contacto-1 .information .usuario .main .data li{
  display: flex;
  gap: 10px;
}

.contacto .contacto-1 .information .usuario .main .redes-sociales{
  display: flex;
  gap: 20px;
  list-style: none;
}
.contacto .contacto-1 .information .redes-sociales li{
  cursor: pointer;
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  position: relative;

}

.contacto .contacto-1 .information .redes-sociales li:nth-child(1) a{
  color: #db36a4;
}

.contacto .contacto-1 .information .redes-sociales li:nth-child(2) {
  color: #43e97b;

}

.contacto .contacto-1 .information .redes-sociales li:nth-child(3) {
  color: #8c04e8;
}

.contacto .contacto-1 .information .redes-sociales li i .alert{
  position: absolute;
  top: -120%;
  left: -100%;
  background-color: #222;
  color: #fff;
  font-size: 0.7rem;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.contacto .contacto-1 .information .redes-sociales li i.active .alert{
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.contacto .contacto-1 .information .usuario .main .button{
  border: solid 2px #ddd;
  padding: 10px 5px;
  background: transparent;
  cursor: pointer;
}

/* Footer  */

footer{
  width: 100%;
  height: 50vh;
  background: #131313;
  padding: 120px;  
  display: flex;
  color: #fff;
  justify-content: space-between;
  gap: 30px;
}

footer section{
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer section ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

footer section ul li{
  display: flex;
  gap: 20px;
}

footer section ul li *{
  text-decoration: none;
  color: #fff;
}